

.msd-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
  display: block;
  width: 100%;

  // Label del input
  label {
    font-size: 0.875rem;
    line-height: 20px;
    margin-bottom: 4px;
    font-weight: 800;
    color: $BlackBech100;
    transition: 0.25s ease-in-out;
  }
  select option[disabled] {
    color: #ccc;
    font-weight: 200;
  }
  .info-text {
    font-size: 0.75rem;
    line-height: 16px;
    margin-top: 4px;
    color: $BlackBech100;
    font-weight: 600;
    &--error {
      color: $RedRust120;
    }
    &--success {
      color: $GreenEmerald120;
    }
  }
  &.msd-select select {
    width: 100%;
    cursor: pointer;
  }

  &:focus-within label {
    color: $OrangeFocus100;
  }

  // Se dan los styles bases para el input
  input,
  select,
  textarea {
    border-radius: 4px;
    background-color: white;
    border: solid 1px $BlackBech70;
    padding: 9px 11px;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 800;
    transition: 0.25s ease-in-out;
    color: $BlackBech100;
    -webkit-appearance: none;
    text-overflow: ellipsis;
    width: 100%;
    min-height: 40px;

    &::placeholder {
      color: $BlackBech100;
      font-weight: 400;
    }

    &:active {
      border: solid 1px $OrangeFocus100;
      color: $BlackBech100;
      background: white;
      box-shadow: 0 4px 8px 0 rgba(255, 145, 0, 0.16);
    }

    &:focus {
      outline: 0;
      border: solid 1px $OrangeFocus100;
      color: $BlackBech100;
      box-shadow: 0 4px 8px 0 rgba(255, 145, 0, 0.16);
    }
    &:focus + label {
      outline: 0;
      border: solid 1px $OrangeFocus100;
      color: $OrangeFocus100;
      box-shadow: 0 4px 8px 0 rgba(255, 145, 0, 0.16);
    }

    &:disabled {
      font-weight: 400;
      background-color: #F3F4F5;
      color: #868c99;
      font-weight: 700;

      &::after {
        display: none;
      }
    }
  }
  textarea{
    font-weight: 200;
}
  // version pequeña **checkear
  &--small {
    margin-bottom: 8px;

    select {
      background-position: right 7px center !important;
    }

    input,
    select,
    textarea {
      padding: 5px 11px;
      font-size: 0.875rem;
      line-height: 20px;
    }
  }

  // Modificador para prefijos
  &--prefix {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 100%;
    }
  }
  // Usar para contenedor del prefijos
  &__prefix {
    background: $bg_color;
    border: solid 1px $BlackBech70;
    padding: 9px 11px;
    font-size: 1rem;
    line-height: 24px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    font-weight: 800;
  }

  //Usar div para juntar input comn prefijos
  &__prefix-group {
    align-items: center;
    display: flex;
  }

  // Info text debajo del input
  &__info-text {
    font-size: 0.75rem;
    line-height: 16px;
    margin-top: 4px;
    color: $BlackBech100;
    font-weight: 600;

    // Si esta vacio no agrega margen
    &:empty {
      margin: 0;
    }

    &--error {
      color: $RedRust100;
    }
  }
}


// Propiedad para agrupar inputs de forma vertical
.msd-input-group {
  display: flex;

  .msd-input {
    margin-right: 16px;

    //se quita el margen al ultimo
    &:last-child {
      margin-right: 0;
    }
    // sirve para ajustar los inputs 
    input {
      width: 100%;
    }
  }
}

// Select
.msd-input {// usa la base del input
  // Clase para usar inputs
  &.msd-select {
    position: relative;

    &.disabled {
      pointer-events: none;
      background-color: white;

      select {
        color: $BlackBech100;
        font-weight: 400;
      }

      &::after {
        opacity: 0.6;
      }
    }

    // Se agrega custon chevron con svg data
    select {
      appearance: none;
      padding-right: 32px;
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%233e50b4' fill-rule='evenodd' d='M19.951 7.785a.6.6 0 00-.848 0l-7.035 7.035-7.044-7.044a.6.6 0 10-.848.848l7.468 7.469a.601.601 0 00.849 0l7.458-7.46a.6.6 0 000-.848'/%3E%3C/svg%3E");
      background-position: right 8px center;
      background-repeat: no-repeat;
    }
  }
}

//Elimina estilo por defecto del select
select ~ :after {
  display: none;
}

  // Data Placeholder Block
  .msd-input-container__data {
    display: inline-grid;
    background-color: #f0f1f9;
    font-size: 0.625rem;
    max-width: 165px;
    height: 25px;
    align-content: center;
    position: absolute;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    right: 0;
  }

  .input-pass-icon {
    position: absolute;
    margin: 10px;
    right: 0;
  }